* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  color: white;
}

body p {
  color: #c1c1c1;
}

body {
  background-image: url(felix-mooneeram-evlkOfkQ5rE-unsplash.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: rgb(1, 1, 1);
}

:root {
  --gradient: linear-gradient(rgb(0, 0, 0) rgb(209, 1, 1) rgb(180, 0, 0));
}

main {
  margin: auto;
  width: 90%;
  max-width: 580px;
  display: grid;
  gap: 24px;
}

.foto {
  text-align: center;
}

.foto img {
  border-radius: 50%;
  border: 4px #5e1116 solid;
}

section {
  background-image: linear-gradient(
    90deg,
    rgba(199, 0, 0, 0.8492647058823529) 0%,
    rgba(33, 4, 6, 0.85) 50%,
    rgba(40, 1, 61, 0.85) 100%
  );
  border-radius: 10px;
  padding-top: 4px;
}

section div {
  background-color: #210406;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  margin-top: 24px;
}

ul img {
  border-radius: 8px;
}

.box_filmes_series img {
  width: 90px;
}

.box_social img {
  width: 40px;
}
